{% for k in obj1 %}


<b style="color: red;">
<p style="text-align: center;">	{{ k.username }}<br></p>
<p style="text-align: center;">{{ k.dof }}<br></p>
{{ k.reg_no }}<br>
{{ k.graph_theory }}<br>
{{ k.autometa_theory}}<br>
{{ k.data_mining }}<br>
{{ k.dsp }}<br>
{{ k.networking }}<br>
{{ k.computer_graphics }}<br>
{{ k.grade_S }}<br>
{{ k.grade_A}}<br>
{{ k.grade_B }}<br>
{{ k.grade_C }}<br>
{{ k.grade_D }}<br>
{{ k.grade_E }}<br>
{{ k.grade_U }}<br>
{{ k.code_962 }}<br>
{{ k.code_302 }}<br>
{{ k.code_303 }}<br>
{{ k.code_903 }}<br>
{{ k.code_301 }}<br>
{{ k.code_304 }}<br>
{{ k.branch_cse }}<br>

</b>
<hr>



{% endfor %}