.avatar4{
   /* width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
   
	padding-top:62px;
	margin-right:50%;
	padding-left:450px;
	opacity:0.1;
	text-align: center;*/
	padding-right: 100px;
	width: auto;
	height: auto;
}